<div class="glass-container">
  <img src="/images/logo.png" height="80" width="80" alt="logo" />
  <h1>Welcom to FhytS!</h1>
  <%- include('components/counter') %>
  <p class="note">💡 Visit the official <a href="https://fhyts.fhylabs.com" target="_blank">documentation</a> for a complete guide..</p>
</div>
